@media screen and (max-width: 1200px) {



      #divBusca{
        position: absolute;
        margin-left: 17px;
        margin-top: 5px;
    
    }

    .nav a {
        font-size: 10px;
    }
    

    .pic-ctn {
       position: relative;
       margin-left: -50px;
      }

      .linha{
        border-right: 300px solid #000;
        border-left: 1500px;
        height: 8px;
        
        
      }
      
    
}